.profilePicture{
    justify-self: center;
    align-self: center;
    grid-row: 1;
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
}

.profile .labelProfile {
    display: block;
    grid-row: 2;
    align-self: end;
    justify-self: center;
}

    #profOne .profilePicture{
        background-image: url(../src/Profile\ Pictures/JessicaProfile.jpg);
        background-position: top;
        background-size: cover;
    }

    #profTwo .profilePicture{
        background-image: url(../src/Profile\ Pictures/JustinProfile.jpg);
        background-position: center;
        background-size: cover;
    }

    #profThree .profilePicture{
        background-image: url(../src/Profile\ Pictures/DannyProfile.jpg);
        background-position: center;
        background-size: cover;
    }

    #profFour .profilePicture{
        background-image: url(../src/Profile\ Pictures/StevenProfile.jpg);
        background-position: center;
        background-size: cover;
    }

    #profFive .profilePicture{
        background-image: url(../src/Profile\ Pictures/CassieProfile.jpeg);
        background-position: center;
        background-size: cover;
    }

    #profSix .profilePicture{
        background-image: url(../src/Profile\ Pictures/HannahProfile.jpg);
        background-position: center;
        background-size: cover;
    }

    #profSeven .profilePicture{
        background-image: url(../src/Profile\ Pictures/JoeProfile.jpg);
        background-position: center left;
        background-size: cover;
    }

    #profEight .profilePicture{
        background-image: url(../src/Profile\ Pictures/JoriProfile.jpg);
        background-position: center;
        background-size: cover;
    }

    #profNine .profilePicture{
        background-image: url(../src/Profile%20Pictures/Annika%20profile%20picture.PNG);
        background-position: top;
        background-size: cover;
    }

    #profTen .profilePicture{
        background-image: url(../src/Profile%20Pictures/Anna%20Profile%20Picture.PNG);
        background-position: top;
        background-size: cover;
    }
